name: "Terraform Plan GitHub Action"
permissions: read-all

on:
  pull_request:
    branches: [development, staging, production, main]

jobs:
  terraform-plan:
    name: terraform-plan
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.2
      - name: create backend config
        run: |
          echo "bucket     = \"${{ secrets.TF_STATE_BUCKET }}\"" > backend.tfvars
          echo "key        = \"${{ github.ref }}/terraform.tfstate\"" >> backend.tfvars
          echo "access_key = \"${{ secrets.TF_STATE_ACCESS_KEY }}\"" >> backend.tfvars
          echo "secret_key = \"${{ secrets.TF_STATE_SECRET_KEY }}\"" >> backend.tfvars
          echo "region     = \"us-east-1\"" >> backend.tfvars
          echo "role_arn   = \"arn:aws:iam::966085404185:role/terraform-s3-role\"" >> backend.tfvars
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
      - name: Terraform Init
        id: init
        run: terraform init -backend-config=backend.tfvars
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
      - name: Terraform Plan
        id: plan
        env:
          TF_VAR_environment: development
          TF_VAR_github_token: ${{ secrets.TF_VAR_github_token }}
          TF_VAR_aws_access_key: ${{ secrets.TF_DEV_ACCESS_KEY_ID }}
          TF_VAR_aws_secret_key: ${{ secrets.TF_DEV_SECRET_ACCESS_KEY }}
          TF_VAR_aws_region: us-east-1
        run: terraform plan -no-color
